<!DOCTYPE html>
<html>
    <head>
        <title>Recurly Test Form</title>
        <script src="https://js.recurly.com/v4/recurly.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
    </head>
    <body>
        <section>
          <figure class="logo">
            <span class="price">$10</span>
            <span class="term">monthly</span>
          </figure>
        </section>

        <section id="errors"></section>

        {% if success %} 
          <section id="success-msg">
            <p class="success">&#10003; Success!</p>
          </section>
        {% endif %}

        <section>
          <form method="post" action="http://localhost:9001/subscriptions/new">
              
              <div>
              <label for="first_name">First Name</label>
              <input type="text" data-recurly="first_name" id="first_name" name="first-name">
            </div>

            <div>
              <label for="last_name">Last Name</label>
              <input type="text" data-recurly="last_name" id="last_name" name="last-name">
            </div>
              
            <div>
              <label for="number">Card Number</label>
              <div data-recurly="number" id="number"></div>
            </div>

            <div class="date">
              <label for="month">Month</label>
              <div data-recurly="month" id="month"></div>
            </div>

            <div class="date">
              <label for="year">Year</label>
              <div data-recurly="year" id="year"></div>
            </div>
              
            <div class="cvv">
                <label for="cvv">CVV</label>
                <div data-recurly="cvv" id="cvv"></div>
            </div>
              
            <button id="subscribe">Subscribe</button>

            <input type="hidden" data-recurly="token" name="recurly-token">
          </form>
        </section>
        <script src="{{ url_for('static', filename='main.js')}}"></script>
    </body>
</html>